p, h1, h2, h3, h4, h5, h6 {
    color: white !important;
}

:root {
    --primary: #da4336;
    --dark: #525252;
}

.bg-primary {
    background-color: var(--primary) !important;
}
.bg-dark {
    background-color: var(--dark) !important;
}